@page "/agent/properties"
@using RealEstate.Admin.Services

@inject ICurrentAccountService _currentAccountService
@inject NavigationManager _navigationManager

<h6>Propiedades</h6>

@attribute [Authorize(Roles = "Agent")]

@code{
    
}